name: Backend CI

on:
  push:
    branches: [ "main" ] # Срабатывает, когда отправляется код в ветку main
  pull_request:
    branches: [ "main" ]

jobs:
  # Первая задача: Сборка и проверка зависимостей
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        cd backend
        python -m pip install --upgrade pip
        pip install -r requirements.txt

  # Вторая задача: Запуск тестов (начнется только если build прошел успешно)
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Run Tests
      run: |
        cd backend
        pip install -r requirements.txt
        pytest